@import '../App.scss';
@import '../Variables.scss';
.contactMe {
  font-family: 'Poppins', sans-serif;
  @include flexCenter();
  flex-direction: column;
  width: 100%;
  height: 100vh;
  @media(max-width: 1300px) {
    min-height: 100vh;
  }
  .contactDiv {
    border: 2px solid $blue;
    width: 60%;
    height: 75%;
    @media(max-width: 1300px) {
      height: auto;
    }
    .contactHeader {
      h1 {
        color: $blue;
        font-weight: 700;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 0;
      }
    }
    .emailSent {
      position: fixed;
      right: 2%;
      top: 10%;
      background-color: $blue;
      color: $white;
      font-weight: 700;
      padding: 0 0.5rem;
      animation: 2s showSent ease;
    }
    .contactGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media(max-width: 1300px) {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      form {
        width: 100%;
        height: 100%;
        @include flexCenter();
        flex-direction: column;
        @media(max-width: 1300px) {
          height: 50%;
        }
        .contactInput {
          width: 75%;
          label {
            display: block;
            font-weight: 500;
            margin-top: 0.5rem;
          }
          input {
            display: block;
            width: 100%;
            font-family: 'Exo', sans-serif;
            line-height: 1.5rem;
            border: none;
            border-bottom: 2px solid $blue;
            color: $blue;
            margin: 0.5rem 0;
            &:focus {
              outline: none;
            }
          }
        }
        .contactSend {
          input {
            font-family: 'Poppins', sans-serif;
            background-color: $blue;
            color: $white;
            font-weight: 500;
            border: none;
            padding: 0.5rem 1rem;
            margin: 2rem 0;
            &:hover {
              cursor: pointer;
              font-weight: 700;
            }
          }
        }
      }
      .lottieSend {
        @media(max-width: 1300px) {
          height: 50%;
        }
        div {
          @media(max-width: 1300px) {
            width: 60% !important;
          }
        }
        svg {
          @media(max-width: 1300px) {
            display: block;
            margin: 0 auto;
            height: 200px !important;
            width: 200px !important;
          }
        }
      }
    }
    @media(max-width: 700px) {
      width: 90%;
    }
    .contactLinks {
      @include flexCenter();
      a {
        margin: 1rem;
        font-size: 2rem;
        color: $blue;
        padding: 0.5rem;
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}

@keyframes showSent {
  0% {
    opacity: 0;
    right: 2%;
  }
  50% {
    opacity: 1;
    right: 7%;
  }
  100% {
    opacity: 0;
    right: 2%;
  }
}