@import '../App.scss';
@import '../Variables.scss';
.intro {
    height: 100vh;
    width: 100vw;
    .introText {
        position: absolute;
        overflow: hidden;
        top: 30%;
        left: 15%;
        transform: translate(-15%, -50%);
        font-family: 'Poppins', sans-serif;
        @media(max-width: 500px) {
            top: 25%;
            left: 15%;
            transform: translate(-10%, -50%);
        }
        .bold {
            font-weight: 700;
        }
        h1 {
            font-size: 2rem;
            font-weight: 300;
            @media(min-height: 1440px) {
                font-size: 4rem;
            }
            @media(max-width: 500px) {
                font-size: 1.5rem;
            }
        }
        div {
            overflow: hidden;
            h2 {
                font-weight: 300;
                margin-bottom: 0;
                margin: 0;
                @media(min-height: 1440px) {
                    font-size: 3rem;
                }
                @media(max-width: 500px) {
                    font-size: 1rem;
                }
            }
        }
    }
    .introduction {
        position: absolute;
        bottom: 0%;
        height: 50vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 3fr 2fr;
        @media(max-width: 1350px) {
            display: flex;
            flex-direction: row;
        }
        @media(max-width: 1000px) {
            display: flex;
            flex-direction: column;
            height: auto;
        }
        @media(max-width: 750px) {
            display: flex;
            flex-direction: column;
        }
        background: $darkGreen;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, $green, $darkGreen);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, $green, $darkGreen); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .skills {
            color: $darkBlueGreen;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            @include flexCenter();
            height: 50vh;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 2rem;
            padding-left: 2rem;
            @media(max-width: 1350px) {
                margin-right: 1rem;
            }
            @media(max-width: 1000px) {
                height: 50vh;
                width: 80%;
            }
            @media(max-width: 700px) {
                grid-gap: 1rem;
                margin-right: 1rem;
                margin: 0 1rem;
                padding: 0;
                width: 90%;
            }
            .skillpanel {
                @include skillpanels();
                @include skillback();
                @media(min-height: 1440px) {
                    font-size: 2rem;
                }
                @media(max-width: 700px) {
                    padding: 0.5rem;
                    border-radius: 20px;
                }
                h4 {
                    @media(max-width: 800px) {
                        font-size: 0.9rem;
                    }
                    @media(max-width: 700px) {
                        font-size: 0.75rem;
                    }
                    @media(max-width: 400px) {
                        font-size: 0.5rem;
                    }
                }
                svg {
                    @media(max-width: 1350px) {
                        height: 200px !important;
                        width: 200px !important;
                    }
                    @media(max-width: 1000px) {
                        height: 140px !important;
                        width: 140px !important;
                    }
                    @media(max-width: 600px) {
                        height: 140px !important;
                        width: 100px !important;
                    }
                    @media(max-width: 600px) {
                        height: 100px !important;
                        width: 75px !important;
                    }
                }
            }
        }
        .links {
            color: $darkBlueGreen;
            .linksDiv {
                display: flex;
                width: 75%;
                margin: 3rem;
                @media(max-width: 1350px) {
                    margin: auto;
                    margin-top: 2rem;
                    @include flexCenter();
                    justify-content: space-between;
                    height: 60%;
                }
                @media(max-width: 1350px) {
                    flex-direction: column;
                    margin-left: 1rem;
                }
                @media(max-width: 1000px) {
                    flex-direction: row;
                    margin-left: 2rem;
                    justify-content: flex-start;
                    margin-top: 1rem;
                }
                @media(max-width: 700px) {
                    margin: 1rem;
                }
                i {
                    padding: 1rem;
                    @include skillback();
                    margin: 0 1rem;
                    height: auto;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    color: $darkBlueGreen;
                    @media(min-height: 1440px) {
                        font-size: 2rem;
                    }
                    @media(max-width: 550px) {
                        font-size: 1rem;
                        margin: 0 0.5rem;
                    }
                    @media(max-width: 450px) {
                        font-size: 0.5rem;
                    }
                }
                button {
                    text-align: center;
                    background-color: $green;
                    border: none;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    padding: 0.5rem 0 0.5rem 1rem;
                    border-radius: 50px;
                    @include skillback();
                    @media(max-width: 1350px) {
                        @include flexCenter();
                        font-size: 0.8rem;
                        padding: 0.5rem;
                    }
                    @media(max-width: 1200px) {
                        font-size: 0.65rem;
                        padding-left: 0.5rem;
                    }
                    i {
                        box-shadow:  2px 2px 10px $midBlue, 
                         -2px -2px 10px #3CD3AD;
                        font-size: 1.25rem;
                        color: rgb(41, 84, 88);
                        @media(max-width: 1350px) {
                            margin-right: 0;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $lightGreen;
                            box-shadow:  2px 2px 10px $lightGreen,
                                        -2px -2px 10px $lighterGreen;
                        }
                        &:active {
                            background-color: rgb(36, 134, 110);
                            box-shadow:  2px 2px 10px $lightGreen,
                                        -2px -2px 10px $lightGreen;
                        }
                        @media(min-height: 1440px) {
                            font-size: 2rem;
                        }
                        @media(max-width: 1300px) {
                            font-size: 1rem;
                            padding: 0.75rem;
                            margin-right: 0.5rem;
                        }
                        @media(max-width: 550px) {
                            font-size: 1rem;
                        }
                        @media(max-width: 450px) {
                            font-size: 0.75rem;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    &:focus {
                        outline: none;
                    }
                    @media(min-height: 1440px) {
                        font-size: 1.5rem;
                        padding: 1rem;
                        border-radius: 100px;
                    }
                    @media(max-width: 550px) {
                        font-size: 0.75rem;
                        padding: 0.5rem 0 0.5rem 0.5rem;
                    }
                    @media(max-width: 450px) {
                        font-size: 0.5rem;
                    }
                }
                div {
                    @include flexCenter();
                    i {
                        font-size: 1.5rem;
                        color: $darkBlueGreen;
                        &:hover {
                            cursor: pointer;
                            background-color: $lightGreen;
                            box-shadow:  2px 2px 10px $lightGreen,
                                        -2px -2px 10px $lighterGreen;
                        }
                        &:active {
                            background-color: rgb(36, 134, 110);
                            box-shadow:  2px 2px 10px $lightGreen,
                                        -2px -2px 10px $lightGreen;
                        }
                        @media(min-height: 1440px) {
                            font-size: 2.5rem;
                            padding: 1.75rem;
                        }
                        @media(max-width: 1300px) {
                            font-size: 1rem;
                        }
                        @media(max-width: 550px) {
                            font-size: 1rem;
                            margin: 0 0.5rem;
                        }
                        @media(max-width: 450px) {
                            font-size: 1rem;
                            padding: 0.75rem;
                        }
                    }
                    
                }
            }
            .scrollDown {
                @include flexCenter();
                font-size: 2rem;
                position: absolute;
                bottom: 10%;
                right: 5%;
                padding: 0.5rem 0.75rem;
                border-radius: 50%;
                &:hover {
                    cursor: pointer;
                    background-color: $lightGreen;
                }
            }
        }
        @media(min-height: 1440px) {
            font-size: 2rem;
        }
        @media(max-width: 1310px) {
            grid-template-columns: none;
            grid-template-rows: 2fr 1fr;
            .skills {
                height: auto;
                margin-right: 2rem;
            }
        }
        @media(max-width: 700px) {
            .skills {
                margin-right: 1rem;
            }
        }
    }
}