@import  '../App.scss';
@import '../Variables.scss';
.techSkills {
  height: 100vh;
  @media(max-width: 800px) {
    height: auto;
  }
  @media(min-width: 2500px) {
    height: auto;
  }
  .skillHeader {
    padding-top: 10vh;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.15rem;
    overflow: hidden;
    @include flexCenter();
      .skill-h1 {
        display: inline-block;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 700;
        height: 5rem;
        overflow: hidden;
        background: $orange;
        width: 10vw;
        @media(min-height: 1440px) {
          font-size: 4rem;
          height: 5rem;
        }
        @media(max-width: 1200px) {
          width: 15vw;
        }
        @media(max-width: 800px) {
          width: 20vw;
        }
        @media(max-width: 600px) {
          width: 25vw;
        }
        @media(max-width: 450px) {
          width: 30vw;
        }
        span {
          position: absolute;
          left: 50%;
          text-decoration: underline;
          overflow: hidden;
          transform: translate(-50%,);
          @media(min-height: 1440px) {
            font-size: 5rem;
          }
        }
        
      }
  }
  
  .skillDivs {
    font-family: 'Poppins', sans-serif;    
    text-align: center;
    @include skillpanels();
    height: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    @media(max-width: 800px) {
      grid-template-columns: none;
    }
    .tech {
      height: 100%;
      display: grid;
      &:nth-of-type(1), &:nth-last-of-type(2) {
        border-right: 5px solid $orange;
        @media(max-width: 800px) {
          border: none;
        }
      }
      h3 {
        font-size: 1.5rem;
        @media(min-height: 1440px) {
          font-size: 2.5rem;
        }
      }
      ul {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        li {
          line-height: 1rem;
          font-size: 1rem;
          img {
            height: 50px;
            width: 50px;
            @media(min-height: 2000px) {
              height: 150px;
              width: 150px;
            }
            @media(min-height: 1440px) {
              height: 100px;
              width: 100px;
            }
          }
      }
    }
    
    
    }
  }
}