$white: #FFF;
$black: #000; 

$yellow: #FFFF00;
$midYellow: #F9F871;

$blue: #0000FF;
$lightBlue: #67C5FF;
$midBlue: #419CA7;

$lightGray: #D9D9D9;

$brightGreen: #00D9A9;
$lighterGreen: #3CD3AD;
$lightGreen: #2FB190;
$darkGreen: #4CB8C4;
$darkBlueGreen: #295458;
$green: #3CD3AD;

$orange: #FFBB33;

$silver: #ABABAB;